<h3><%=@promotion.name %></h3>
<% #TODO: both, show, new, edit, render: _form %>
<dl>
    <dt><%= Promotion.human_attribute_name(:description) %></dt>
    <dd><%= @promotion.description %></dd>
    <dt><%= Promotion.human_attribute_name(:discount_rate) %> <small>em porcentagem</small></dt>
    <dd><%= number_to_percentage @promotion.discount_rate, precision: 2 %></dd>
    <dt>Código</dt>
    <dd><%= @promotion.code %></dd>
    <dt>Data de término</dt>
    <dd><%= l @promotion.expiration_date %></dd>
    <dt>Quantidade de Cupons</dt>
    <dd><%= @promotion.coupon_quantity %></dd>
</dl>

<div><%= link_to 'Editar Promoção', edit_promotion_path(@promotion) %>
| <%= link_to 'Excluir Promoção', promotion_path(@promotion), method: :delete,
                                            data: { confirm: "Deseja deletar a promoção: #{@promotion.name}?"} %></div>

<% if @promotion.coupons.empty? %>
    <%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post%>
<% end %>

<div><%= link_to 'Voltar para Promoções', promotions_path %></div>

<% @promotion.coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.code.parameterize %>">
    <p>
      <%= coupon.code %> (<%= Coupon.human_attribute_name("status.#{coupon.status}")%>)
    </p>
    <% if coupon.active? %>
      <%= link_to 'Desabilitar', disable_coupon_path(coupon), method: :post, data:
        {disable_with: 'Estamos desabilitando...'} %>
    <% end %>
    </div>
<% end %>